@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {

    /* Colors */
    --blue-fondo: #0f182a;
    --white-text: #e7e8e7;

    --text-h1: 4rem;
    /* 64px */
    --text-h2: 3.5rem;
    /* 56px */
    --text-h3: 3rem;
    /* 48px */
    --text-h4: 2.5rem;
    /* 40px */
    --text-h5: 2rem;
    /* 32px */
    --text-h6: 1.5rem;
    /* 24px */
    --text-bodyLarge: 1.125rem;
    /* 18px */
    --text-bodyRegular: 1rem;
    /* 16px */
    --text-bodySmall: 0.875rem;
    /* 14px */
    --text-Paragraph: 1rem;
    /* 16px */
}

.container-main {
    @apply flex flex-col gap-y-10 h-screen py-[1rem] text-blue-900 w-full max-w-screen-xl mx-auto px-[3rem] md:px-[7rem];
}